<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealtyHub</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body class="min-h-screen bg-gray-50">

    <main class="mx-auto container mt-10 px-2">
        @RenderBody()
    </main>

    <footer class="bg-white shadow text-center text- p-4 mt-10">
        <p>
            &copy; 2025 - Realty Hub
        </p>
    </footer>

</body>
</html>
