@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@inject UserManager<User> userManager;
@inject IHttpContextAccessor httpContextAccessor;

@{
    var userdId = httpContextAccessor?.HttpContext?.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    var user = await userManager.FindByIdAsync(userdId!);
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealtyHub</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body class="min-h-screen bg-gray-50">

    <header class="bg-white p-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-decoration-none">
                <h1 class="text-2xl font-extrabold text-center">
                    Realty
                    <span class="font-normal">Hub</span>
                </h1>
            </a>
            <nav class="text-sm md:flex md:items-center md:gap-3 font-bold">
                <a href="/properties">Mi Propiedades</a>
                <a href="#">@user?.UserName</a>
                <a href="/auth/logout" class="bg-red-600 hover:bg-red-800 py-1 px-2 rounded text-white">Cerrar Sesión</a>
            </nav>
        </div>
    </header>

    <main class="mx-auto container mt-10 px-2">
        @RenderBody()
    </main>

    <footer class="bg-white shadow text-center text- p-4 mt-10">
        <p>
            &copy; 2025 - Realty Hub
        </p>
    </footer>

</body>
</html>
