@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Mis Propiedades";
}

<!--
    HEADER 
 -->
<div class='py-10'>
    <h1 class="text-4xl my-10 font-extrabold text-center">
        Realty <span class="font-normal">Hub</span> 
    </h1>
    <h2 class="text-center text-2xl font-extrabold">@ViewData["Title"]</h2>
</div>

<a 
    asp-controller="Property" 
    asp-action="Create" 
    class="rounded py-2 px-10 bg-gray-800 hover:bg-gray-900 text-sm font-bold text-center text-white uppercase my-5 inline-block w-full md:w-auto"
>
    Publicar Propiedad
</a>