@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Home Page";
}

<div class='py-10'>
    <h1 class="text-4xl my-10 font-extrabold text-center">
        Realty <span class="font-normal">Hub</span> 
    </h1>
    <h2 class="text-center text-2xl font-extrabold">@ViewData["Title"]</h2>
</div>
